{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    {{  title }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-select/css/bootstrap-select.min.css' %}">
{% endblock %}

{% block content %}

    <section class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="heading">Add Details to Your Profile </h1>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>{{ field.name }} {{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    <form id="employeeProfile-main-form" method="post" action="" class="employeeProfile-add-form">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-lg-12 form-group">
                                <label for="title">Job Title</label>
                                <input id="title" name="title" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 form-group">
                                <label for="location">Location</label>
                                <input id="location" name="location" type="text" placeholder="e.g.kathmandu"
                                       class="form-control">
                            </div>
                            <div class="col-lg-6 form-group">
                                <label for="type">Type</label>
                                <select id="type" name="type" placeholder="Choose job type"
                                        class="form-control select2">
                                    <option value="1">Full time</option>
                                    <option value="2">Part time</option>
                                    <option value="3">Internship</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 form-group">
                                <label for="category">Category</label>
                                <select id="category" name="category" placeholder="Choose category"
                                        class="form-control select2">
                                    <option value="web-design">Web design</option>
                                    <option value="graphic-design">Graphic design</option>
                                    <option value="web-development">Web development</option>
                                    <option value="human-resource">Human Resources</option>
                                    <option value="support">Building Design</option>
                                    <option value="android">Android</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 form-group">
                                <label for="apply_url">Email Contact </label>
                                <input id="apply_url"  name="emailContact" class="form-control">
                            </div>
                            <div class="col-xl-6 form-group">
                                <label for="work_experience">Your Work Experience</label>
                                <input id="work_experience" name="work_experience" type="text" placeholder=" years(in numbers) " class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h4> I am expert at:</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 form-group">
                                <label for="skills"></label>
                                <input id="skills" name="skill1" type="text" placeholder="e.g.python"
                                       class="form-control">
                            </div>

                                <div class="col-lg-6 form-group">
                                    <label for="skills2"></label>
                                    <input id="skills2" name="skill2" placeholder="skill"
                                            class="form-control select2">


                                </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6 form-group">
                                <label for="skills3"></label>
                                <input id="skills3" name="skill3" type="text" placeholder="skill"
                                       class="form-control">
                            </div>

                                <div class="col-lg-6 form-group">
                                    <label for="skills4"></label>
                                    <input id="skills4" name="skill4" placeholder="skill"
                                            class="form-control select2">


                                </div>

                        </div>



                        <div class="row">
                            <div class="col-lg-12">
                                <hr class="margin-bottom--big">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 form-group">
                                <label for="about_me">Describe About Yourself </label>
                                <textarea id="about_me" name="about_me" rows= "3" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 form-group">
                                <input type="file" name="images" enctype="multipart/form-data" >

                            </div>
                        </div>



                        <div class="row">
                            <div class="col-lg-12">
                                <hr>
                                <div class="checkbox text-center">
                                    <label>
                                        <input type="checkbox"> I agree with the <a href="#">Terms and conditions</a>.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <hr>
                                <button type="submit" class="btn btn-outline-white-primary"><i class="fa fa-magic"></i>
                                    Update
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}